In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

from datetime import datetime, date

DATA_FOLDER = '../readonly/final_project_data/'

train           = pd.read_csv(os.path.join(DATA_FOLDER, 'sales_train.csv.gz'))
test            = pd.read_csv(os.path.join(DATA_FOLDER, 'test.csv.gz'))
items           = pd.read_csv(os.path.join(DATA_FOLDER, 'items.csv'))
item_categories = pd.read_csv(os.path.join(DATA_FOLDER, 'item_categories.csv'))
shops           = pd.read_csv(os.path.join(DATA_FOLDER, 'shops.csv'))

In [2]:
train.shape

(2935849, 6)

In [3]:
test.shape

(214200, 3)

In [4]:
test_shops = test.shop_id.unique()
train = train[train.shop_id.isin(test_shops)]
test_items = test.item_id.unique()
train = train[train.item_id.isin(test_items)]

train.shape

(1224439, 6)

In [5]:
grouped = pd.DataFrame(train.groupby(['shop_id', 'date_block_num'])['item_cnt_day'].sum().reset_index())
grouped.head()

   shop_id  date_block_num  item_cnt_day
0        2               0         248.0
1        2               1         135.0
2        2               2         237.0
3        2               3         168.0
4        2               4         159.0

In [6]:
train = train.set_index('item_id').join(items.set_index('item_id')).drop('item_name', axis=1).reset_index()
train['month'] = train.date.apply(lambda x: datetime.strptime(x, '%d.%m.%Y').strftime('%m'))
train['year'] = train.date.apply(lambda x: datetime.strptime(x, '%d.%m.%Y').strftime('%Y'))

train = train.drop('date', axis=1)
train = train.drop('item_category_id', axis=1)
train = train.groupby(['shop_id', 'item_id', 'date_block_num', 'month', 'year']).sum()
train = train.sort_index()

train.head()

                                           item_price  item_cnt_day
shop_id item_id date_block_num month year
2       30      2              03    2013       359.0           1.0
                5              06    2013       399.0           1.0
                15             04    2014       169.0           1.0
                16             05    2014       169.0           1.0
        31      1              02    2013      2796.0           4.0